@model AkademiqRapidApi.Models.YoutubeViewModel.Rootobject
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Youtube Mp3</title>
</head>
<body>
    <h2>Youtube Mp3 çevirici</h2>

    <form method="get">
        <input type="text" name="id" placeholder="Youtube mp3 çevirme işlemi için bir video ID giriniz." />
        <button type="submit">
            Mp3 getir
        </button>
    </form>
    @if (Model != null)
    {
        <p>Başlık :@Model.title</p>
        <p>Süre :@Model.duration</p>
        <p>Durum :@Model.status</p>
        <p>Boyut :@Model.filesize</p>
        <p>
            Link : <a href="@Model.link" target="_blank">Mp3 İndir</a>
        </p>
        <p>Mesaj : @Model.msg</p>
    }
</body>
</html>
