@model AkademiqRapidApi.Models.ConvertCurrencyViewModel.Rootobject
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Exchange</title>
</head>
<body>
    <h2>Döviz Sonucu</h2>

    <p>
        1 @Model.from = @Model.to.TRY TRY

    </p>
</body>
</html>