<!DOCTYPE html>

<html class="dark" lang="tr">

@await Component.InvokeAsync("Header")
<body class="bg-surface-container-lowest text-on-surface">

    <div class="fixed inset-0 z-50 pointer-events-none scanline-overlay opacity-30"></div>

    @await Component.InvokeAsync("Sidebar")

    @await Component.InvokeAsync("Navbar")

    <main class="ml-64 pt-20 p-8 min-h-screen">
        @RenderBody()
    </main>

    <div class="fixed bottom-8 right-8 z-50">
        <button class="w-14 h-14 bg-primary-container text-on-primary-container rounded-full flex items-center justify-center shadow-[0_0_25px_rgba(0,242,255,0.6)] hover:scale-110 active:scale-95 transition-all group">
            <span class="material-symbols-outlined group-hover:rotate-90 transition-transform duration-500">add_task</span>
        </button>
    </div>
    <script src="~/js/recipe-gallery.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


</body>
</html>